/* .bs{
    background-color: black;
} */
h1
{
    color:white;
}
#student-form{
  padding-left: 350px;

}

.ns{
  padding-left: 250px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid red;
  border-radius: 4px;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  #table-text{
    color: white;
  }
  
 #not-found-txt{
  color: white;
  margin: 80px 0px 0px 500px;
  font-size: 30px;
 }

 